!/custom/aliases/example.aliases.sh
!/custom/completions/example.completion.sh
!/custom/plugins/example/
!/custom/themes/example/
!/custom/example.sh
/custom/

/cache/
/log/
!/cache/.gitkeep
!/log/.gitkeep

*.swp
*.disabled
.idea/
*.tmp
